/* styles.css */
.chart-container {
    width: 100%;
    height: 600px;
    background: #2d323d;
    border-radius: 10px;
    position: relative;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}
